:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --console-base: var(--base0);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.base03 {
    color: var(--base03);
}
.base02 {
    color: var(--base02);
}
.base01 {
    color: var(--base01);
}
.base00 {
    color: var(--base00);
}
.base0 {
    color: var(--base0);
}
.base1 {
    color: var(--base1);
}
.base2 {
    color: var(--base2);
}
.base3 {
    color: var(--base3);
}
.yellow {
    color: var(--yellow);
}
.orange {
    color: var(--orange);
}
.red {
    color: var(--red);
}
.magenta {
    color: var(--magenta);
}
.violet {
    color: var(--violet);
}
.blue {
    color: var(--blue);
}
.cyan {
    color: var(--cyan);
}
.green {
    color: var(--green);
}
p {
    color: var(--console-base);
    font-size: 1vw;
}
h3 {
    color: var(--console-base);
    font-weight: normal;
    font-size: 2vw;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--base03);
    margin: 0;
    color: var(--console-base);
}
.header {
    padding: 60px;
    text-align: center;
    font-size: 30px;
}

.menu {
    padding: 1%;
}



.blinking-caret {
    --blink-color: var(--console-base);
    animation: blink 1.2s infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    0% {
        color: transparent;
    }
    42% {
        color: transparent;
    }
    43% {
        color: var(--blink-color);
    }
    99% {
        color: var(--blink-color);
    }
    100% {
        color: transparent;
    }
}